.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilo personalizado */

/* Menu */

.nav-user{
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-user__info{
  margin-right: 15px;
}

.nav-user__info h4{
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.nav-user__info p{
  color: #666;
  font-size: 12px;
  margin: 0;
}

/* Details page */

.img{
  width: 100%;
}

.info{
  margin-bottom: 24px;
}

.info h4{
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 4px;
}

.info p{
  color: #666;
  font-size: 14px;
  margin: 0;
}

/* List */

a:link {
  text-decoration: none;
  color: unset
}

.card{
  display: flex;
  flex-direction: row;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
  padding: 16px;
}

.card-img{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  overflow: hidden;
  width: 20%;
  height: 100px;
  margin-right: 16px;
}

.card-img img {
  width: 100%;
}

.card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text h4{
  color: #333;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-text p{
  color: #666;
  font-size: 14px;
  margin: 0;
}

.badge {
  margin-right: 5px;
  margin-top: 5px;
  padding: 7px;
}