/* .repository-img{
    width: 100%;
}

.repository-info{
    margin-bottom: 24px;
}

.repository-info h4{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 4px;
}
  
.repository-info p{
    color: #666;
    font-size: 14px;
    margin: 0;
} */