a:link {
    text-decoration: none;
    color: unset
}

.repository-card{
    display: flex;
    flex-direction: row;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    padding: 16px;
}

.repository-card__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.repository-card__text h4{
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
  
.repository-card__text p{
    color: #666;
    font-size: 14px;
    margin: 0;
}

.badge {
    margin-right: 5px;
    margin-top: 5px;
}